.root{
    display: grid;
    .main{
        background-color: rgb(0, 0, 0);
        margin:5px 5px 0;
        display:grid;
        grid-template-rows: 10% auto;
        align-items: center;
        .enemyHealth{
            padding:0 .5rem;
            margin-top:.5rem;
            display: flex;
            flex-direction: row;
            label{
                font-size: .8rem;
                color: aliceblue;
            }
            meter{
                width: 100%;
            }
        }
        .enemy{
            grid-row: 2;
            background-color: black;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            color: aliceblue;
            .challenge{
                margin:10px;
                grid-row: 1;
                justify-self: center;
                display: flex;
                flex-direction: row;
                svg{
                    max-height:4vh;
                    height:100%;
                }
            }
            .info{
                padding:0 1rem 1rem;
                display:grid;
                grid-template-rows: auto 1fr;
                .text{
                    margin:0;
                    padding:0;
                    display: block;
                    h2{
                        text-align: center;
                        margin-top:0;
                    }
                    p{
                        font-size: .6rem;
                    }
                }
            }
        }
    }
}