

.enemyHealth {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    label {
        font-family: var(--font);
    }
    meter {
        width: 100%;
    }
}
.challenge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    svg {
        max-height:3vh;
        height:100%;
        margin:0;
        padding:0;
    }
}

.action {
    border:1px solid var(--highlight);
    padding:var(--small-gap);
    font-size: .8rem;
}