.root{
    border: 2px solid var(--highlight);
    padding:.5rem;
    border-radius: 10px;
    h3 {
        font-size: .8rem;
        color: var(--highlight);
    }
    button {
        background-color: var(--highlight);
        border: none;
        color: white;
        padding:.2rem;
        font-weight: bold;
        font-family: var(--text-font);
        margin:2px;
    }
}