.root{
    background-color: var(--highlight);
    padding:var(--small-gap);
    text-align: center;
    color:white;
    border:none;
    cursor: pointer;
    // p{
    //     margin:var(--small-gap) 0;
    //     font-family: var(--font);
    //     font-size: var(--small-text);
    //     line-height: var(--small-lineheight);
    // }
    // p:first-of-type{
    //     font-size: .7rem;
    //     margin-bottom: var(--small-gap);
    // }
    // button{
    //     background-color: black;
    //     color: white;
    //     font: var(--font);
    //     border: none;
    //     font-size: .5rem;
    //     padding: var(--large-gap);
    //     display: inline-block;
    //     margin: var(--small-gap);
    //     cursor: pointer;
    // }
}