.root{
    background-color: var(--highlight);
    // display:grid;
    // grid-template-rows: auto 1fr;
    padding: .5rem;
    .enemy {
        background-color: white;
        padding:.5rem;
        
    }
}