.root{
    background-color: var(--highlight);
    padding: .5rem;
    .enemy {
        background-color: white;
        padding:.5rem;
        // display: flex;
        // justify-content: center;
        button {
            background-color: var(--highlight);
            color: white;
            border:none;
            padding: 1rem 1.25rem;
            font-family: var(--font);
            font-size: 1rem;
        }
    }
}