.App{
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6vh 94vh;
}
.App header {
  background-color: black;
  color: aliceblue;
  padding:0 1rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App header h1 {
  font-size: 1rem;
  margin: 0;
}
.arena{
  background-color: var(--highlight);
  display:grid;
  grid-template-rows: auto 1fr;
}

p{
  font-size: .7rem;
}