.App header {
  height:5vh;
  background-color: black;
  color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App header h1 {
  font-size: 1rem;
  margin: 0;
}

.arena{
  background-color: grey;
  overflow: hidden;
}

p{
  font-family: 'Open Sans', sans-serif;
}