.App{
  /* height: 100vh;
  max-width:50vh; */
  /* overflow: hidden; */
  /* display: grid;
  grid-template-rows: 6vh 94vh; */
  margin:0 auto;
}
.App header {
  background-color: black;
  color: aliceblue;
  padding:0 1rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App header h1 {
  font-size: 1rem;
  margin: 0;
}
#menu-toggle{
  cursor: pointer;
}