:root{
  --highlight: #771313;
  --font: 'Press Start 2P', cursive;
  --large-gap:10px;
  --small-gap:3px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
