:root{
  --highlight: #771313;
  --font: 'Press Start 2P', cursive;
  --large-gap:10px;
  --small-gap:3px;
  --small-text: clamp(.5rem, 1vh, .6rem);
  --small-lineheight:clamp(.6rem, 1.1vh, .7rem);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
